<h1>Filmes</h1>

<form action="/films/{{#if action }}update{{else}}create{{/if}}" method="post">

    <input type="hidden" name="id" value="{{film_editing.id}}">

    <label for="title">Title</label><br>

    <input type="text" id="title" name="title" value="{{film_editing.title}}" required><br><br>

    <label for="description">Description</label><br>

    <input type="text" id="description" name="description" value="{{film_editing.description}}" required><br><br>

    <label for="year">Year</label><br>

    <input type="number" id="year" name="year" value="{{film_editing.year}}" required><br><br>

    <label for="DirectorId">Director</label><br>

    <input type="text" id="DirectorId" name="DirectorId" value="{{film_editing.DirectorId}}" required><br><br>

    <label for="actors">Actors</label><br>

    <input type="text" id="actors" name="actors" value="{{film_editing.actors}}"><br><br>

    <button>{{#if action }}Salvar Alterações{{else}}Criar{{/if}}</button>

</form>

<hr>

<table>

    <thead>

        <tr>

            <th>Title</th>

            <th>Description</th>

            <th>Year</th>

            <th>Director</th>

            <th>Ações</th>

        </tr>

    </thead>

    <tbody>

        {{#each films}}

        <tr>

            <td>{{this.title}}</td>

            <td>{{this.description}}</td>

            <td>{{this.year}}</td>

            <td>{{this.DirectorId}}</td>

            <td style="display: flex; justify-content: space-evenly;">

                <form action="/films/edit" method="post">

                    <input type="hidden" name="id" value="{{this.id}}">

                    <button>Edit</button>

                </form>

                <form action="/films/delete" method="post">

                    <input type="hidden" name="id" value="{{this.id}}">

                    <button>Del</button>

                </form>

            </td>

        </tr>

        {{/each}}

    </tbody>

</table>